body {
    color: black;
    margin: 0%;
}

/* header section */
header {
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    background-color: hsl(28, 87%, 87%);
    user-select: none;
    box-shadow: 0px 5px 5px hsl(28, 87%, 87%);
    position: relative;
}

#logo, #plus {
    background-color: hsl(28, 87%, 67%);
    width: 25px;
    text-align: center;
    border-radius: 30%;
}

#plus:hover {
    background-color: white;
    cursor: pointer;
}

/* content section */
#content {
    display: flex;
}

/* navigation or list section */
#navigation {
    background-color: hsl(0, 0%, 95%);
    width: 150px;
    height: 100vh;
    padding: 40px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#listContainer {
    color:hsl(0, 0%, 55%);
}

p {
    display: block;
    margin: 0px -20px;
}

#lists {
    margin-top: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {
    padding: 0px 7px;
    border-radius: 10px;
}

.list:hover {
    background-color: hsl(0, 0%, 55%);
    color: white;
    cursor: pointer;
}

.list.selected {
    background-color: hsl(0, 0%, 55%);
    color: white;  
}