body {
    color: black;
    margin: 0%;
}

/* header section */
header {
    display: flex;
    padding: 10px 5%;
    justify-content: space-between;
    background-color: hsl(28, 87%, 87%);
    user-select: none;
    box-shadow: 0px 5px 5px hsl(28, 87%, 87%);
    position: relative;
}

#logo, #plus {
    background-color: hsl(28, 87%, 67%);
    width: 25px;
    text-align: center;
    border-radius: 30%;
}

#plus:hover, #logo:hover {
    background-color: hsl(28, 87%, 47%);
    cursor: pointer;
}

#plus:active, #logo:active {
    transform: translateY(3px);
}

/* content section */
#content {
    display: flex;
}

/* navigation or list section */
#navigation {
    background-color: hsl(0, 0%, 95%);
    width: 150px;
    height: 100vh;
    padding: 40px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 0px 5px hsl(0, 0%, 55%);
}

#navToggle {
    transform: scale(0.1, 0.1);
    position: absolute;
    left: -100px;
}


#listContainer {
    color:hsl(0, 0%, 55%);
}

#listContainer > p {
    display: block;
    margin: 0px -20px;
}

#lists {
    margin-top: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list {
    padding: 5px 7px;
    border-bottom: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 55%);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 150px;
}

#addProject {
    color: hsl(0, 0%, 55%);
}

#addProject:hover {
    color: white;
}

.list:hover {
    background-color: hsl(0, 0%, 55%);
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.list:active {
    transform: translateY(3px);
}

.list.selected {
    background-color: hsl(0, 0%, 55%);
    color: white;  
    border-radius: 6px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 55%);
}



/* current project section */

#currentProject {
    flex: 1 1 auto;
    margin-left: 5%;
    margin-top: 50px;
}

#itemContainer {
    padding: 5% 5% 5% 0%;
}

.toDoItem, .addItem {
    background-color: hsl(28, 87%, 87%);
    margin: 5px;
    padding: 5px 10px;
    border-radius: 7px;
}

.generalInfo {
    display: flex;
    justify-content: space-between;
}

.toDoItem.high {
    background-color: hsl(28, 87%, 47%);
}

.toDoItem.mid {
    background-color: hsl(28, 87%, 67%);    
}

.toDoItem.low {
    background-color: hsl(28, 87%, 87%);
}

.itemTitle {
    color: hsl(0, 0%, 25%);
}

.infoAndRemove {
    display: flex;
    gap: 5px;
}

.iButton {
    margin-top: -2px;
}

.removeButton {
    margin-top: 2px;
}

.addItem {
    width: 45px;
    user-select: none;
}

.addItem:hover {
    cursor: pointer;
    background-color: hsl(28, 87%, 47%);
    color: white;
}

.addItem:active {
    transform: translateY(3px);
}

#details {
    background-color: hsl(28, 87%, 97%);
    display: block;
}